Librerias/SabreLib/Service References/Sabre_ContextChangeLLS_203/ContextChangeLLS21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://webservices.sabre.com/sabreXML/2011/10" xmlns:stl="http://services.sabre.com/STL/v01" elementFormDefault="qualified" targetNamespace="http://webservices.sabre.com/sabreXML/2011/10" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="STL_For_SabreProtocol_v.1.2.0.xsd" namespace="http://services.sabre.com/STL/v01" />
  <xs:element name="ContextChangeRS">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="stl:ApplicationResults" />
        <xs:element minOccurs="0" name="SecurityToken">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="Updated" type="xs:boolean" use="optional" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Text" type="xs:string" />
      </xs:sequence>
      <xs:attribute name="Version" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>
</xs:schema>