Librerias/SabreLib/Service References/Sabre_SpecialServiceLLS_221/SpecialServiceLLS22.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:sws="http://webservices.sabre.com/sabreXML/2011/10" elementFormDefault="qualified" targetNamespace="http://webservices.sabre.com/sabreXML/2011/10" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="sws_common.xsd" />
  <xs:element name="SpecialServiceRQ">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="SpecialServiceInfo">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="AdvancePassenger">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="Document">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="IssueCountry" type="xs:string" />
                          <xs:element minOccurs="0" name="NationalityCountry" type="xs:string" />
                          <xs:element minOccurs="0" name="Visa">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ApplicableCountry" type="xs:string" />
                                <xs:element minOccurs="0" name="PlaceOfBirth" type="xs:string" />
                                <xs:element name="PlaceOfIssue" type="xs:string" />
                              </xs:sequence>
                              <xs:attribute name="IssueDate" type="sws:fullDate" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="ExpirationDate" type="sws:fullDate" use="optional" />
                        <xs:attribute name="Number" type="xs:string" use="optional" />
                        <xs:attribute name="Type" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="PersonName">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="GivenName" type="xs:string" />
                          <xs:element minOccurs="0" name="MiddleName" type="xs:string" />
                          <xs:element minOccurs="0" name="Surname" type="xs:string" />
                        </xs:sequence>
                        <xs:attribute name="DateOfBirth" type="sws:fullDate" use="optional" />
                        <xs:attribute name="DocumentHolder" type="xs:boolean" use="optional" />
                        <xs:attribute name="Gender" use="optional">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:enumeration value="F" />
                              <xs:enumeration value="M" />
                              <xs:enumeration value="FI" />
                              <xs:enumeration value="MI" />
                              <xs:enumeration value="U" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="NameNumber" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="ResidentDestinationAddress">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="City" type="xs:string" />
                          <xs:element name="Country" type="xs:string" />
                          <xs:element minOccurs="0" name="Street" type="xs:string" />
                          <xs:element minOccurs="0" name="State" type="xs:string" />
                          <xs:element minOccurs="0" name="Zip" type="xs:string" />
                        </xs:sequence>
                        <xs:attribute name="Type" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="VendorPrefs">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Airline">
                            <xs:complexType>
                              <xs:attribute name="Hosted" type="xs:boolean" use="optional" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="SegmentNumber" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="SecureFlight">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="KnownTravelerNumber" type="xs:string" />
                    <xs:element minOccurs="0" name="PersonName">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="GivenName" type="xs:string" />
                          <xs:element minOccurs="0" name="Surname" type="xs:string" />
                        </xs:sequence>
                        <xs:attribute name="DateOfBirth" type="xs:string" use="optional" />
                        <xs:attribute name="Gender" use="optional">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:enumeration value="F" />
                              <xs:enumeration value="M" />
                              <xs:enumeration value="FI" />
                              <xs:enumeration value="MI" />
                              <xs:enumeration value="U" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="NameNumber" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="RedressNumber" type="xs:string" />
                    <xs:element minOccurs="0" name="VendorPrefs">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Airline">
                            <xs:complexType>
                              <xs:attribute name="Hosted" type="xs:boolean" use="optional" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="SegmentNumber" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="Service">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="PersonName">
                      <xs:complexType>
                        <xs:attribute name="NameNumber" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="Text" type="xs:string" />
                    <xs:element minOccurs="0" name="VendorPrefs">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Airline">
                            <xs:complexType>
                              <xs:attribute name="Code" type="xs:string" use="optional" />
                              <xs:attribute name="Hosted" type="xs:boolean" use="optional" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="SegmentNumber" type="xs:string" use="optional" />
                  <xs:attribute name="SSR_Code" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="ReturnHostCommand" type="xs:boolean" use="optional" />
      <xs:attribute name="TimeStamp" type="xs:dateTime" use="optional" />
      <xs:attribute fixed="2.2.1" name="Version" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>