Librerias/SabreLib/Service References/Sabre_QueueCountLLS_220/QueueCountLLS22.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:sws="http://webservices.sabre.com/sabreXML/2011/10" elementFormDefault="qualified" targetNamespace="http://webservices.sabre.com/sabreXML/2011/10" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="sws_common.xsd" />
  <xs:element name="QueueCountRQ">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="QueueInfo">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="QueueIdentifier">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="Range">
                      <xs:complexType>
                        <xs:attribute name="End" type="xs:string" use="required" />
                        <xs:attribute name="Start" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="Name" type="xs:string" use="optional" />
                  <xs:attribute name="Number" type="xs:string" use="optional" />
                  <xs:attribute name="PseudoCityCode" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="8" name="Selection">
          <xs:complexType>
            <xs:attribute name="Criteria" type="xs:string" use="required" />
            <xs:attribute name="Function" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="ReturnHostCommand" type="xs:boolean" use="optional" />
      <xs:attribute name="TimeStamp" type="xs:dateTime" use="optional" />
      <xs:attribute fixed="2.2.0" name="Version" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>