Librerias/GDS/SabreLib/Service References/Sabre_DailySalesReportLLS_200/DailySalesReportLLS21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:sws="http://webservices.sabre.com/sabreXML/2011/10" elementFormDefault="qualified" targetNamespace="http://webservices.sabre.com/sabreXML/2011/10" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="sws_common.xsd" />
  <xs:element name="DailySalesReportRQ">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="SalesReport">
          <xs:complexType>
            <xs:attribute name="DirectTicketing" type="xs:boolean" use="optional" />
            <xs:attribute name="PseudoCityCode" type="xs:string" use="required" />
            <xs:attribute name="StartDate" type="sws:date" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="ReturnHostCommand" type="xs:boolean" use="optional" />
      <xs:attribute name="TimeStamp" type="xs:dateTime" use="optional" />
      <xs:attribute fixed="2.0.0" name="Version" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>