Librerias/GDS/SabreLib/Service References/Sabre_eTicketCouponLLS_200/eTicketCouponLLS21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:stl="http://services.sabre.com/STL/v01" xmlns:sws="http://webservices.sabre.com/sabreXML/2011/10" elementFormDefault="qualified" targetNamespace="http://webservices.sabre.com/sabreXML/2011/10" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="STL_For_SabreProtocol_v.1.2.0.xsd" namespace="http://services.sabre.com/STL/v01" />
  <xs:include schemaLocation="sws_common.xsd" />
  <xs:element name="eTicketCouponRS">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="stl:ApplicationResults" />
        <xs:element minOccurs="0" name="TicketingInfos">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="TicketingInfo">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="Ticketing">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="CouponData">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="AirItineraryPricingInfo">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element minOccurs="0" name="Endorsements">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element minOccurs="0" maxOccurs="5" name="Text" type="xs:string" />
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element minOccurs="0" name="FareCalculation">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element minOccurs="0" name="Text" type="xs:string" />
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element minOccurs="0" name="ItinTotalFare">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element minOccurs="0" name="BaseFare">
                                              <xs:complexType>
                                                <xs:attribute name="Amount" type="xs:string" use="optional" />
                                                <xs:attribute name="CurrencyCode" type="xs:string" use="optional" />
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element minOccurs="0" name="EquivFare">
                                              <xs:complexType>
                                                <xs:attribute name="Amount" type="xs:string" use="optional" />
                                                <xs:attribute name="CurrencyCode" type="xs:string" use="optional" />
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element minOccurs="0" name="NetFare">
                                              <xs:complexType>
                                                <xs:attribute name="Amount" type="xs:string" use="optional" />
                                                <xs:attribute name="AmountType" type="xs:string" use="optional" />
                                                <xs:attribute name="CreditCardAmount" type="xs:string" use="optional" />
                                                <xs:attribute name="SellingAmount" type="xs:string" use="optional" />
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element minOccurs="0" name="Taxes">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element minOccurs="0" maxOccurs="unbounded" name="Tax">
                                                    <xs:complexType>
                                                      <xs:attribute name="Amount" type="xs:string" use="optional" />
                                                      <xs:attribute name="Paid" type="xs:string" use="optional" />
                                                      <xs:attribute name="TaxCode" type="xs:string" use="optional" />
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="Total" type="xs:string" use="optional" />
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element minOccurs="0" name="TotalFare">
                                              <xs:complexType>
                                                <xs:attribute name="Amount" type="xs:string" use="optional" />
                                                <xs:attribute name="CurrencyCode" type="xs:string" use="optional" />
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element minOccurs="0" name="PassengerTypeQuantity">
                                        <xs:complexType>
                                          <xs:attribute name="Code" type="xs:string" use="optional" />
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="Coupons">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element minOccurs="0" maxOccurs="unbounded" name="Coupon">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element minOccurs="0" name="FlightSegment">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element minOccurs="0" name="DestinationLocation">
                                                    <xs:complexType>
                                                      <xs:attribute name="LocationCode" type="xs:string" use="optional" />
                                                    </xs:complexType>
                                                  </xs:element>
                                                  <xs:element minOccurs="0" name="FareBasis">
                                                    <xs:complexType>
                                                      <xs:attribute name="Code" type="xs:string" use="optional" />
                                                    </xs:complexType>
                                                  </xs:element>
                                                  <xs:element minOccurs="0" name="MarketingAirline">
                                                    <xs:complexType>
                                                      <xs:attribute name="Code" type="xs:string" use="optional" />
                                                      <xs:attribute name="FlightNumber" type="xs:string" use="optional" />
                                                    </xs:complexType>
                                                  </xs:element>
                                                  <xs:element minOccurs="0" name="OperatingAirline">
                                                    <xs:complexType>
                                                      <xs:attribute name="Code" type="xs:string" use="optional" />
                                                    </xs:complexType>
                                                  </xs:element>
                                                  <xs:element minOccurs="0" name="OriginLocation">
                                                    <xs:complexType>
                                                      <xs:attribute name="LocationCode" type="xs:string" use="optional" />
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="ConnectionInd" type="xs:string" use="optional" />
                                                <xs:attribute name="DepartureDateTime" type="sws:dateTime" use="optional" />
                                                <xs:attribute name="FlightNumber" type="xs:string" use="optional" />
                                                <xs:attribute name="ResBookDesigCode" type="xs:string" use="optional" />
                                                <xs:attribute name="RPH" type="xs:string" use="optional" />
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                          <xs:attribute name="CodedStatus" type="xs:string" use="optional" />
                                          <xs:attribute name="Number" type="xs:string" use="optional" />
                                          <xs:attribute name="StatusCode" type="xs:string" use="optional" />
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="CustomerInfo">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element minOccurs="0" name="Customer">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element minOccurs="0" name="Invoice">
                                              <xs:complexType>
                                                <xs:attribute name="Number" type="xs:string" use="optional" />
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element minOccurs="0" maxOccurs="2" name="Payment">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element minOccurs="0" name="CC_Info">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element minOccurs="0" name="PaymentCard">
                                                          <xs:complexType>
                                                            <xs:attribute name="Amount" type="xs:string" use="optional" />
                                                            <xs:attribute name="Code" type="xs:string" use="optional" />
                                                            <xs:attribute name="ExpirationDate" type="sws:date" use="optional" />
                                                          </xs:complexType>
                                                        </xs:element>
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                  <xs:element minOccurs="0" name="Text" type="xs:string" />
                                                </xs:sequence>
                                                <xs:attribute name="ApprovalID" type="xs:string" use="optional" />
                                                <xs:attribute name="Conditions" type="xs:string" use="optional" />
                                                <xs:attribute name="ReferenceNumber" type="xs:string" use="optional" />
                                                <xs:attribute name="RPH" type="xs:string" use="optional" />
                                                <xs:attribute name="Type" type="xs:string" use="optional" />
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element minOccurs="0" name="PersonName">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element minOccurs="0" name="GivenName" type="xs:string" />
                                                  <xs:element minOccurs="0" name="Surname" type="xs:string" />
                                                </xs:sequence>
                                                <xs:attribute name="NameReference" type="xs:string" use="optional" />
                                                <xs:attribute name="PassengerType" type="xs:string" use="optional" />
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="ItineraryRef">
                                  <xs:complexType>
                                    <xs:attribute name="CustomerIdentifier" type="xs:string" use="optional" />
                                    <xs:attribute name="ID" type="xs:string" use="optional" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="ConjunctiveTicketNumbers" type="xs:string" use="optional" />
                              <xs:attribute name="ExchangeInd" type="xs:string" use="optional" />
                              <xs:attribute name="InformationSource" type="xs:string" use="optional" />
                              <xs:attribute name="IssueDate" type="xs:string" use="optional" />
                              <xs:attribute name="NumBooklets" type="xs:string" use="optional" />
                              <xs:attribute name="ProductID" type="xs:string" use="optional" />
                              <xs:attribute name="TicketMedia" type="xs:string" use="optional" />
                              <xs:attribute name="TicketMode" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="ExchangeData">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="CouponData">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element minOccurs="0" name="Payment">
                                        <xs:complexType>
                                          <xs:attribute name="Code" type="xs:string" use="optional" />
                                          <xs:attribute name="ReferenceNumber" type="xs:string" use="optional" />
                                          <xs:attribute name="Type" type="xs:string" use="optional" />
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="BoardPoint" type="xs:string" use="optional" />
                                    <xs:attribute name="CouponNumbers" type="xs:string" use="optional" />
                                    <xs:attribute name="IATA_Code" type="xs:string" use="optional" />
                                    <xs:attribute name="IssueDate" type="sws:dateTime" use="optional" />
                                    <xs:attribute name="OriginalTicketNumber" type="xs:string" use="optional" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="AgencyCity" type="xs:string" use="optional" />
                        <xs:attribute name="AgentWorkArea" type="xs:string" use="optional" />
                        <xs:attribute name="IATA_Number" type="xs:string" use="optional" />
                        <xs:attribute name="IssuingAgent" type="xs:string" use="optional" />
                        <xs:attribute name="PrimeHostID" type="xs:string" use="optional" />
                        <xs:attribute name="PseudoCityCode" type="xs:string" use="optional" />
                        <xs:attribute name="TransactionDateTime" type="sws:dateTime" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="Version" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>
</xs:schema>