Librerias/SabreLib/Service References/Sabre_DisplayPriceQuoteLLS_251/DisplayPriceQuoteLLS21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:sws="http://webservices.sabre.com/sabreXML/2011/10" elementFormDefault="qualified" targetNamespace="http://webservices.sabre.com/sabreXML/2011/10" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="sws_common.xsd" />
  <xs:element name="DisplayPriceQuoteRQ">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="AirItineraryPricingInfo">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonName">
                <xs:complexType>
                  <xs:attribute name="EndNameNumber" type="xs:string" use="optional" />
                  <xs:attribute name="NameNumber" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="Record">
                <xs:complexType>
                  <xs:attribute name="EndNumber" type="xs:string" use="optional" />
                  <xs:attribute name="Number" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="Summary">
                <xs:complexType>
                  <xs:attribute name="BreakDown" type="xs:boolean" use="optional" />
                  <xs:attribute name="Ind" type="xs:boolean" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Deleted" type="xs:boolean" use="optional" />
            <xs:attribute name="Extended" type="xs:boolean" use="optional" />
            <xs:attribute name="Historical" type="xs:boolean" use="optional" />
            <xs:attribute name="Reissue" type="xs:boolean" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="ReturnHostCommand" type="xs:boolean" use="optional" />
      <xs:attribute name="TimeStamp" type="xs:dateTime" use="optional" />
      <xs:attribute fixed="2.5.1" name="Version" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>