Librerias/GDS/SabreLib/Service References/Sabre_ArunkLLS_202/ARUNK_LLS2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://webservices.sabre.com/sabreXML/2011/10" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="sws_common.xsd" />
  <xs:element name="ARUNK_RQ">
    <xs:complexType>
      <xs:attribute name="ReturnHostCommand" type="xs:boolean" use="optional" />
      <xs:attribute name="TimeStamp" type="xs:dateTime" use="optional" />
      <xs:attribute fixed="2.0.2" name="Version" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>