Librerias/SabreLib/Service References/Sabre_AutomatedExchangesLLS_261/AutomatedExchangesLLS21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:sws="http://webservices.sabre.com/sabreXML/2011/10" elementFormDefault="qualified" targetNamespace="http://webservices.sabre.com/sabreXML/2011/10" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="sws_common.xsd" />
  <xs:element name="AutomatedExchangesRQ">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExchangeComparison">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="ExchangeOverrides">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="ChangeFee" type="xs:string" />
                    <xs:element minOccurs="0" name="FeeOnPenalty">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="2" name="Tax">
                            <xs:complexType>
                              <xs:attribute name="Amount" type="xs:string" use="required" />
                              <xs:attribute name="Code" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="TicketFeeAmount" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="30" name="ExchangeSegment">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="PriceRequestInformation">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="OptionalQualifiers">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="MiscQualifiers">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element minOccurs="0" name="BaggageAllowance">
                                        <xs:complexType>
                                          <xs:attribute name="Number" type="xs:string" use="optional" />
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element minOccurs="0" name="ValidityDates">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element minOccurs="0" name="NotValidAfter" type="sws:date" />
                                            <xs:element minOccurs="0" name="NotValidBefore" type="sws:date" />
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="PricingQualifiers">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element minOccurs="0" name="Brand" type="xs:string" />
                                      <xs:element minOccurs="0" name="CommandPricing" type="xs:string" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="SegmentNumber" type="xs:integer" use="optional" />
                </xs:complexType>
              </xs:element>
              <xs:element name="PriceRequestInformation">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="OptionalQualifiers">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="FlightQualifiers">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="VendorPrefs">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Airline">
                                        <xs:complexType>
                                          <xs:attribute name="Code" type="xs:string" use="required" />
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="MiscQualifiers">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="Endorsements">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element minOccurs="0" name="Endorsement" type="xs:string" />
                                      <xs:element minOccurs="0" name="EndorsementOverride" type="xs:string" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="TourCode">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Text" type="xs:string" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="PricingQualifiers">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="Account">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Code" type="xs:string" />
                                    </xs:sequence>
                                    <xs:attribute name="Force" type="xs:boolean" use="optional" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="BargainFinder">
                                  <xs:complexType>
                                    <xs:attribute name="Rebook" type="xs:boolean" use="required" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="Brand" type="xs:string" />
                                <xs:element minOccurs="0" name="ChangeFeeCollectionOptions">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element minOccurs="0" name="CollectFee">
                                        <xs:complexType>
                                          <xs:attribute name="InTotal" type="xs:boolean" use="optional" />
                                          <xs:attribute name="OnEMD" type="xs:boolean" use="optional" />
                                          <xs:attribute name="ReportFeeAsCP" type="xs:boolean" use="optional" />
                                          <xs:attribute name="AsTax" type="xs:string" use="optional" />
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="CommandPricing" type="xs:string" />
                                <xs:element minOccurs="0" name="Corporate">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="ID" type="xs:string" />
                                    </xs:sequence>
                                    <xs:attribute name="Force" type="xs:boolean" use="optional" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="CountryInformation">
                                  <xs:complexType>
                                    <xs:attribute name="Residency" type="xs:string" use="optional" />
                                    <xs:attribute name="Employment" type="xs:string" use="optional" />
                                    <xs:attribute name="Nationality" type="xs:string" use="optional" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="Diagnostic" type="xs:string" />
                                <xs:element minOccurs="0" name="FareOptions">
                                  <xs:complexType>
                                    <xs:attribute name="Private" type="xs:boolean" use="optional" />
                                    <xs:attribute name="Public" type="xs:boolean" use="optional" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="ItineraryOptions">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element maxOccurs="unbounded" name="SegmentSelect">
                                        <xs:complexType>
                                          <xs:attribute name="Number" type="xs:integer" use="required" />
                                          <xs:attribute name="EndNumber" type="xs:integer" use="optional" />
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="NameSelect">
                                  <xs:complexType>
                                    <xs:attribute name="NameNumber" type="xs:string" use="required" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="Overrides">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element minOccurs="0" name="NoAdvancePurchase">
                                        <xs:complexType>
                                          <xs:attribute name="Ind" type="xs:boolean" use="required" />
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element minOccurs="0" name="NoFareRestrictions">
                                        <xs:complexType>
                                          <xs:attribute name="Ind" type="xs:boolean" use="required" />
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element minOccurs="0" name="NoMinMaxStay">
                                        <xs:complexType>
                                          <xs:attribute name="Ind" type="xs:boolean" use="required" />
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element minOccurs="0" name="NoPenalty">
                                        <xs:complexType>
                                          <xs:attribute name="Ind" type="xs:boolean" use="required" />
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="PassengerType">
                                  <xs:complexType>
                                    <xs:attribute name="Code" type="xs:string" use="optional" />
                                    <xs:attribute name="Force" type="xs:boolean" use="optional" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="PlusUp">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element minOccurs="0" name="TicketDesignator" type="xs:string" />
                                    </xs:sequence>
                                    <xs:attribute name="Amount" type="xs:string" use="optional" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="SpanishLargeFamilyDiscountLevel">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:enumeration value="1" />
                                      <xs:enumeration value="2" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element minOccurs="0" name="Taxes">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element minOccurs="0" name="NoTax">
                                        <xs:complexType>
                                          <xs:attribute name="Ind" type="xs:boolean" use="required" />
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element minOccurs="0" maxOccurs="20" name="TaxExempt">
                                        <xs:complexType>
                                          <xs:attribute name="Code" type="xs:string" use="required" />
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element minOccurs="0" maxOccurs="20" name="TaxOverride">
                                        <xs:complexType>
                                          <xs:attribute name="Amount" type="xs:string" use="required" />
                                          <xs:attribute name="Code" type="xs:string" use="required" />
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="QuebecSalesTax" type="xs:string" use="optional" />
                                    <xs:attribute name="VAT_TaxCode" type="xs:string" use="optional" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="AlternateCurrencyCode" type="xs:string" use="optional" />
                              <xs:attribute name="AutoRedirect" type="xs:boolean" use="optional" />
                              <xs:attribute name="FareFocusExclude" type="xs:boolean" use="optional" />
                              <xs:attribute name="RoundTheWorld" type="xs:boolean" use="optional" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="ExemptPaperSurcharge" type="xs:boolean" use="optional" />
            <xs:attribute name="OriginalTicketNumber" type="xs:string" use="required" />
            <xs:attribute name="TicketMedia" use="optional">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="E" />
                  <xs:enumeration value="P" />
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="ExchangeConfirmation">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="OptionalQualifiers">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="FOP_Qualifiers">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="BasicFOP">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="CC_Info">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="PaymentCard">
                                        <xs:complexType>
                                          <xs:attribute name="Code" type="xs:string" use="required" />
                                          <xs:attribute name="ExpireDate" type="sws:expireDate" use="required" />
                                          <xs:attribute name="ManualApprovalCode" type="xs:string" use="optional" />
                                          <xs:attribute name="Number" type="xs:string" use="required" />
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="Suppress" type="xs:boolean" use="optional" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="PayLaterPlan">
                                  <xs:complexType>
                                    <xs:attribute name="AirlinePlanCode" type="xs:string" use="optional" />
                                    <xs:attribute name="InstallmentCount" type="xs:string" use="optional" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="PayLater" type="xs:boolean" use="optional" />
                              <xs:attribute name="Type" use="optional">
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:enumeration value="CA" />
                                    <xs:enumeration value="CK" />
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                              <xs:attribute name="Virtual" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="MiscQualifiers">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="BaggageAllowance">
                            <xs:complexType>
                              <xs:attribute name="Number" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="Commission">
                            <xs:complexType>
                              <xs:attribute name="Amount" type="xs:string" use="optional" />
                              <xs:attribute name="AmountOnPenalty" type="xs:string" use="optional" />
                              <xs:attribute name="Percent" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="EndorsementOverride" type="xs:string" />
                          <xs:element minOccurs="0" name="Hemisphere">
                            <xs:complexType>
                              <xs:attribute name="Code" type="xs:integer" use="required" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="Journey">
                            <xs:complexType>
                              <xs:attribute name="Code" type="xs:integer" use="required" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="NewTicketFullCommission">
                            <xs:complexType>
                              <xs:attribute name="Amount" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="RefundableAmountOnEMD" type="xs:string" />
                          <xs:element minOccurs="0" name="Taxes">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="TaxExempt">
                                  <xs:complexType>
                                    <xs:attribute name="Code" type="xs:string" use="required" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="TourCode">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Text" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="MiniItin" type="xs:boolean" use="optional" />
                        <xs:attribute name="PNR_Override" type="xs:string" use="optional" />
                        <xs:attribute name="ROE_Override" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="PQR_Number" type="xs:integer" use="required" />
            <xs:attribute name="DoNotIssueEMDForChangeFee" type="xs:boolean" use="optional" />
            <xs:attribute name="Print" use="optional">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="DP" />
                  <xs:enumeration value="DPB" />
                  <xs:enumeration value="DPE" />
                  <xs:enumeration value="DPI" />
                  <xs:enumeration value="DPO" />
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="RemoteCoupon" use="optional">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="RA" />
                  <xs:enumeration value="RB" />
                  <xs:enumeration value="RC" />
                  <xs:enumeration value="RE" />
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="SelfSaleInd" type="xs:boolean" use="optional" />
            <xs:attribute name="TicketDeliveryOffice" type="xs:string" use="optional" />
            <xs:attribute name="WaiverCode" type="xs:string" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="ReturnHostCommand" type="xs:boolean" use="optional" />
      <xs:attribute name="TimeStamp" type="xs:dateTime" use="optional" />
      <xs:attribute fixed="2.6.1" name="Version" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>