Librerias/SabreLib/Service References/Sabre_AutomatedExchangesLLS_261/AutomatedExchangesLLS22.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:stl="http://services.sabre.com/STL/v01" xmlns:sws="http://webservices.sabre.com/sabreXML/2011/10" elementFormDefault="qualified" targetNamespace="http://webservices.sabre.com/sabreXML/2011/10" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="STL_For_SabreProtocol_v.1.2.0.xsd" namespace="http://services.sabre.com/STL/v01" />
  <xs:include schemaLocation="sws_common.xsd" />
  <xs:element name="AutomatedExchangesRS">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="stl:ApplicationResults" />
        <xs:element minOccurs="0" name="BaggageInfo">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="30" name="FlightSegment">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="DestinationLocation">
                      <xs:complexType>
                        <xs:attribute name="LocationCode" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="FreeBaggageAllowance">
                      <xs:complexType>
                        <xs:attribute name="Number" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="MarketingAirline">
                      <xs:complexType>
                        <xs:attribute name="Code" type="xs:string" use="optional" />
                        <xs:attribute name="FlightNumber" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="OriginLocation">
                      <xs:complexType>
                        <xs:attribute name="LocationCode" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="ArrivalDateTime" type="xs:string" use="optional" />
                  <xs:attribute name="DepartureDateTime" type="sws:date" use="optional" />
                  <xs:attribute name="FlightNumber" type="xs:string" use="optional" />
                  <xs:attribute name="ResBookDesigCode" type="xs:string" use="optional" />
                  <xs:attribute name="RPH" type="xs:integer" use="optional" />
                  <xs:attribute name="SegmentNumber" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="Text" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Endorsements" type="xs:string" />
        <xs:element minOccurs="0" name="ExchangeComparison">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="AirItineraryPricingInfo">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="ItinTotalFare">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="BaseFare">
                            <xs:complexType>
                              <xs:attribute name="Amount" type="xs:string" use="optional" />
                              <xs:attribute name="CurrencyCode" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="EquivFare">
                            <xs:complexType>
                              <xs:attribute name="Amount" type="xs:string" use="optional" />
                              <xs:attribute name="CurrencyCode" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="Taxes">
                            <xs:complexType>
                              <xs:attribute name="TotalAmount" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="TotalFare">
                            <xs:complexType>
                              <xs:attribute name="Amount" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="Type" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="TaxComparison">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="3" name="Tax">
                      <xs:complexType>
                        <xs:attribute name="Amount" type="xs:decimal" use="optional" />
                        <xs:attribute name="TaxCode" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="Type" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="ExchangeDetails">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="ChangeFeeCollectionOptions">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="CancelPenaltyFees">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="Taxes">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element minOccurs="0" maxOccurs="2" name="Tax">
                                        <xs:complexType>
                                          <xs:attribute name="Amount" type="xs:string" use="optional" />
                                          <xs:attribute name="TaxCode" type="xs:string" use="optional" />
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="CollectFee">
                            <xs:complexType>
                              <xs:attribute name="AsTax" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="CollectTotal">
                            <xs:complexType>
                              <xs:attribute name="Amount" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="FeeCollectionMethod" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="Category35NetFare">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="FareInformation">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="BaseFare">
                                  <xs:complexType>
                                    <xs:attribute name="Amount" type="xs:decimal" use="optional" />
                                    <xs:attribute name="CurrencyCode" type="xs:string" use="optional" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="EquivFare">
                                  <xs:complexType>
                                    <xs:attribute name="Amount" type="xs:decimal" use="optional" />
                                    <xs:attribute name="CurrencyCode" type="xs:string" use="optional" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="TotalTax">
                                  <xs:complexType>
                                    <xs:attribute name="Amount" type="xs:decimal" use="optional" />
                                    <xs:attribute name="CurrencyCode" type="xs:string" use="optional" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="TotalFare">
                                  <xs:complexType>
                                    <xs:attribute name="Amount" type="xs:decimal" use="optional" />
                                    <xs:attribute name="CurrencyCode" type="xs:string" use="optional" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" maxOccurs="unbounded" name="TaxInformation">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element minOccurs="0" maxOccurs="3" name="Tax">
                                        <xs:complexType>
                                          <xs:attribute name="Amount" type="xs:decimal" use="optional" />
                                          <xs:attribute name="TaxCode" type="xs:string" use="optional" />
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="Type" type="xs:string" use="optional" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="TicketedFareLevel" type="xs:string" use="optional" />
                              <xs:attribute name="Type" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="RefundableAmountOnEMD" type="xs:string" />
                    <xs:element minOccurs="0" name="ResidualTaxesPresent" type="xs:string" />
                    <xs:element minOccurs="0" name="Text" type="xs:string" />
                    <xs:element minOccurs="0" name="AdditionalText" type="xs:string" />
                    <xs:element minOccurs="0" name="TicketFee">
                      <xs:complexType>
                        <xs:attribute name="Amount" type="xs:string" use="optional" />
                        <xs:attribute name="TaxCode" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="AutoRedirect" type="xs:string" use="optional" />
                  <xs:attribute name="ChangeFee" type="xs:string" use="optional" />
                  <xs:attribute name="ChgFeeEMDNotSupported" type="xs:string" use="optional" />
                  <xs:attribute name="ExchangeReissue" type="xs:string" use="optional" />
                  <xs:attribute name="ShortText" type="xs:string" use="optional" />
                  <xs:attribute name="TotalRefund" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="PQR_Number" type="xs:string" use="optional" />
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="ExchangeConfirmation">
          <xs:complexType>
            <xs:attribute name="PQR_Number" type="xs:string" use="optional" />
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="Source">
          <xs:complexType>
            <xs:attribute name="AgencyCity" type="xs:string" use="optional" />
            <xs:attribute name="AgentDutySine" type="xs:string" use="optional" />
            <xs:attribute name="AgentWorkArea" type="xs:string" use="optional" />
            <xs:attribute name="CreateDateTime" type="sws:dateTime" use="optional" />
            <xs:attribute name="IATA_Number" type="xs:string" use="optional" />
            <xs:attribute name="PrimeHostID" type="xs:string" use="optional" />
            <xs:attribute name="PseudoCityCode" type="xs:string" use="optional" />
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Text" type="xs:string" />
      </xs:sequence>
      <xs:attribute name="Version" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>
</xs:schema>