Librerias/SabreLib/Service References/Sabre_AddRemarkLLS_211/AddRemarkLLS22.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:sws="http://webservices.sabre.com/sabreXML/2011/10" elementFormDefault="qualified" targetNamespace="http://webservices.sabre.com/sabreXML/2011/10" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="sws_common.xsd" />
  <xs:element name="AddRemarkRQ">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="RemarkInfo">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="FOP_Remark">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="CC_Info">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="PaymentCard">
                            <xs:complexType>
                              <xs:attribute name="AirlineCode" type="xs:string" use="optional" />
                              <xs:attribute name="CardSecurityCode" type="xs:string" use="optional" />
                              <xs:attribute name="Code" type="xs:string" use="required" />
                              <xs:attribute name="ExpireDate" type="sws:expireDate" use="required" />
                              <xs:attribute name="ExtendedPayment" type="xs:string" use="optional" />
                              <xs:attribute name="ManualApprovalCode" type="xs:string" use="optional" />
                              <xs:attribute name="Number" type="xs:string" use="required" />
                              <xs:attribute default="false" name="SuppressApprovalCode" type="xs:boolean" use="optional" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="Suppress" type="xs:boolean" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="Type" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="FutureQueuePlaceRemark">
                <xs:complexType>
                  <xs:attribute name="Date" type="sws:date" use="required" />
                  <xs:attribute name="PrefatoryInstructionCode" type="xs:string" use="required" />
                  <xs:attribute name="PseudoCityCode" type="xs:string" use="optional" />
                  <xs:attribute name="QueueIdentifier" type="xs:string" use="required" />
                  <xs:attribute name="Time" type="sws:time" use="optional" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="Remark">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Text" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="Code" type="xs:string" use="optional" />
                  <xs:attribute name="SegmentNumber" type="xs:string" use="optional" />
                  <xs:attribute name="Type" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="Alpha-Coded" />
                        <xs:enumeration value="Client Address" />
                        <xs:enumeration value="Corporate" />
                        <xs:enumeration value="Delivery Address" />
                        <xs:enumeration value="General" />
                        <xs:enumeration value="Group Name" />
                        <xs:enumeration value="Hidden" />
                        <xs:enumeration value="Historical" />
                        <xs:enumeration value="Invoice" />
                        <xs:enumeration value="Itinerary" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="ReturnHostCommand" type="xs:boolean" use="optional" />
      <xs:attribute name="TimeStamp" type="xs:dateTime" use="optional" />
      <xs:attribute fixed="2.1.1" name="Version" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>