Librerias/GDS/SabreLib/Service References/Sabre_QueuePlaceLLS_204/QueuePlaceLLS2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:sws="http://webservices.sabre.com/sabreXML/2011/10" elementFormDefault="qualified" targetNamespace="http://webservices.sabre.com/sabreXML/2011/10" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="sws_common.xsd" />
  <xs:element name="QueuePlaceRQ">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MultiQueuePlace">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="20" name="QueueIdentifier">
                <xs:complexType>
                  <xs:attribute name="Number" type="xs:string" use="required" />
                  <xs:attribute name="PrefatoryInstructionCode" type="xs:string" use="required" />
                  <xs:attribute name="PseudoCityCode" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="QueueInfo">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="3" name="QueueIdentifier">
                <xs:complexType>
                  <xs:attribute name="Name" type="xs:string" use="optional" />
                  <xs:attribute name="Number" type="xs:string" use="optional" />
                  <xs:attribute name="PrefatoryInstructionCode" type="xs:string" use="optional" />
                  <xs:attribute name="PseudoCityCode" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="6" name="UniqueID">
                <xs:complexType>
                  <xs:attribute name="ID" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="ReturnHostCommand" type="xs:boolean" use="optional" />
      <xs:attribute name="TimeStamp" type="xs:dateTime" use="optional" />
      <xs:attribute fixed="2.0.4" name="Version" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>