Librerias/GDS/SabreLib/Service References/Sabre_QueueAnalysisLLS_200/QueueAnalysisLLS22.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:stl="http://services.sabre.com/STL/v01" xmlns:sws="http://webservices.sabre.com/sabreXML/2011/10" elementFormDefault="qualified" targetNamespace="http://webservices.sabre.com/sabreXML/2011/10" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="STL_For_SabreProtocol_v.1.2.0.xsd" namespace="http://services.sabre.com/STL/v01" />
  <xs:include schemaLocation="sws_common.xsd" />
  <xs:element name="QueueAnalysisRS">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="stl:ApplicationResults" />
        <xs:element minOccurs="0" name="QueueInfo">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="QueueIdentifier">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="Ended">
                      <xs:complexType>
                        <xs:attribute name="Count" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="Ignored">
                      <xs:complexType>
                        <xs:attribute name="Count" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="LeftMessageToContact">
                      <xs:complexType>
                        <xs:attribute name="Count" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="Moved">
                      <xs:complexType>
                        <xs:attribute name="Count" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="NumMessages">
                      <xs:complexType>
                        <xs:attribute name="Count" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="Removed">
                      <xs:complexType>
                        <xs:attribute name="Count" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="Transferred">
                      <xs:complexType>
                        <xs:attribute name="Count" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="UnableToReach">
                      <xs:complexType>
                        <xs:attribute name="Count" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="Number" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="DateTime" type="sws:dateTime" use="optional" />
            <xs:attribute name="PseudoCityCode" type="xs:string" use="optional" />
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="Totals">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="Ended">
                <xs:complexType>
                  <xs:attribute name="Count" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="Ignored">
                <xs:complexType>
                  <xs:attribute name="Count" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="LeftMessageToContact">
                <xs:complexType>
                  <xs:attribute name="Count" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="Moved">
                <xs:complexType>
                  <xs:attribute name="Count" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="NumMessages">
                <xs:complexType>
                  <xs:attribute name="Count" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="Removed">
                <xs:complexType>
                  <xs:attribute name="Count" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="Transferred">
                <xs:complexType>
                  <xs:attribute name="Count" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="UnableToReach">
                <xs:complexType>
                  <xs:attribute name="Count" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="Version" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>
</xs:schema>