Librerias/SabreLib/Service References/Sabre_DailySalesReportLLS_200/DailySalesReportLLS2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:stl="http://services.sabre.com/STL/v01" xmlns:sws="http://webservices.sabre.com/sabreXML/2011/10" elementFormDefault="qualified" targetNamespace="http://webservices.sabre.com/sabreXML/2011/10" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="STL_For_SabreProtocol_v.1.2.0.xsd" namespace="http://services.sabre.com/STL/v01" />
  <xs:include schemaLocation="sws_common.xsd" />
  <xs:element name="DailySalesReportRS">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="stl:ApplicationResults" />
        <xs:element minOccurs="0" name="SalesReport">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="CreationDetails">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="Source">
                      <xs:complexType>
                        <xs:attribute name="AgencyName" type="xs:string" use="optional" />
                        <xs:attribute name="CreateDateTime" type="sws:dateOrTime" use="optional" />
                        <xs:attribute name="PseudoCityCode" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="IssuanceData">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="2" name="Payment">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="Form">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute name="Amount" type="xs:string" use="optional" />
                                  <xs:attribute name="CurrencyCode" type="xs:string" use="optional" />
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="PersonName" type="xs:string" />
                    <xs:element minOccurs="0" name="TicketingFees">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="FeeInformation">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute name="Amount" type="xs:string" use="optional" />
                                  <xs:attribute name="GuaranteeType" type="xs:string" use="optional" />
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="TicketingInfo">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="Ticketing">
                            <xs:complexType>
                              <xs:attribute name="ConjunctiveCount" type="xs:string" use="optional" />
                              <xs:attribute name="eTicketNumber" type="xs:string" use="optional" />
                              <xs:attribute name="Ind" type="xs:string" use="optional" />
                              <xs:attribute name="InvoiceNumber" type="xs:string" use="optional" />
                              <xs:attribute name="StatusCode" type="xs:string" use="optional" />
                              <xs:attribute name="UsedCount" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="AgentSine" type="xs:string" use="optional" />
                  <xs:attribute name="Commission" type="xs:string" use="optional" />
                  <xs:attribute name="DocumentType" type="xs:string" use="optional" />
                  <xs:attribute name="DomesticInternational" type="xs:string" use="optional" />
                  <xs:attribute name="IndicatorOne" type="xs:string" use="optional" />
                  <xs:attribute name="IndicatorTwo" type="xs:string" use="optional" />
                  <xs:attribute name="IssueTime" type="xs:string" use="optional" />
                  <xs:attribute name="ItineraryRef" type="xs:string" use="optional" />
                  <xs:attribute name="StockItemCount" type="xs:string" use="optional" />
                  <xs:attribute name="TicketPrinter" type="xs:string" use="optional" />
                  <xs:attribute name="TicketStock" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="Version" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>
</xs:schema>